
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>Show: <%= feature("name").humanize %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', material_receivings_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">
            
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Supplier</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :customer, (@material_receiving.supplier.present? ? @material_receiving.supplier.name : nil),  :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Doc. Number</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :number, @material_receiving.number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Date</div>
                      <div class="uk-width-1-2@m">
                        <%= date_field_tag :date, @material_receiving.date, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Remarks</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :remarks, @material_receiving.remarks, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">SJ Number</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :sj_number, @material_receiving.sj_number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">SJ Date</div>
                      <div class="uk-width-2-3@m">
                        <%= date_field_tag :sj_date, (@material_receiving.sj_date), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">PO Supplier</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :purchase_order_supplier_id, (@material_receiving.purchase_order_supplier.number if @material_receiving.purchase_order_supplier.present?), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Invoice Supplier</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :invoice_supplier, (@material_receiving.invoice_supplier.number if @material_receiving.invoice_supplier.present?), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <table class="uk-table uk-table-small uk-table-bordered uk-table-hover uk-table-divider" id="item">
                    <tr>
                      <th>#</th>
                      <th>Material Code</th>
                      <th>Material Name</th>
                      <th>Batch Number</th>
                      <th>Unit</th>
                      <th>Quantity</th>
                      <th>Supplier Batch Number</th>
                      <th>EXP Date</th>
                      <th>Packaging Condition</th>
                      <th>Remarks</th>
                    </tr>
                    <% c=0 %>
                    
                    <% @material_receiving_items.each do |material_receiving_item| %>
                      <% part = nil %>
                      <% if material_receiving_item.material.present? %>
                        <% part = material_receiving_item.material %>
                      <% end %>
                      <% unit_name = (part.unit.present? ? part.unit.name : nil) %>
                      
                      <tr>
                        <td class="counter"><%= c+=1%></td>
                        <td><%= (part.present? ? part.part_id : nil) %></td>
                        <td><%= (part.present? ? part.name : nil) %></td>
                        <td>
                          <%= material_receiving_item.material_batch_number.number if material_receiving_item.material_batch_number.present? %>
                        </td>
                        <td><%= unit_name %></td>
                        <td class="uk-text-right"><%= number_with_precision(material_receiving_item.quantity, precision: 2, delimiter: ".", separator: ",") %></td>
                        <td><%= material_receiving_item.supplier_batch_number.present? ? material_receiving_item.supplier_batch_number : "Tidak Ada" %></td>
                        <td><%= material_receiving_item.supplier_expired_date.present? ? material_receiving_item.supplier_expired_date : "Tidak Ada" %></td>
                        <td><%= material_receiving_item.packaging_condition.present? ? material_receiving_item.packaging_condition : "Tidak Ada" %></td>
                        <td><%= material_receiving_item.remarks %></td>
                      </tr>
                    <% end if @material_receiving_items.present? %>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-2@m">
                      <% if @material_receiving.status == 'new' or @material_receiving.status == 'canceled1' %>
                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 1</button>
                        <% end %>
                      <% elsif @material_receiving.status == 'approved1' or @material_receiving.status == 'canceled2' %>
                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'cancel_approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 1</button>
                        <% end %>
                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 2</button>
                        <% end %> 
                      <% elsif @material_receiving.status == 'approved2' or @material_receiving.status == 'canceled3' %>   
                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'cancel_approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 2</button>
                        <% end %>

                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 3</button>
                        <% end %>                
                      <% else %>
                        <%= link_to approve_material_receiving_path(@material_receiving, :status=> 'cancel_approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 3</button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="uk-width-1-2@m">
                      <% case @material_receiving.status %>
                      <% when 'approved1','canceled2','approved2','canceled3','approved3' %>
                        <!-- approved1 oleh warehouse -->
                        <%= link_to print_material_receiving_path(@material_receiving), method: :put, data: { disable_with: "Please wait..."}, target: :_blank, :title=>"Last Printed by: #{@material_receiving.present? ? (@material_receiving.printed.present? ? @material_receiving.printed.first_name : nil) : nil}; #{@material_receiving.printed_at if @material_receiving.present?}" do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>
                        <%= link_to 'Back', material_receivings_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <% else %>
                        <%= link_to 'Back', material_receivings_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                        <%= link_to 'Edit', edit_material_receiving_path(@material_receiving), class: "uk-button uk-button-primary uk-button-small uk-align-right" %>
                      <% end %>    
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
