<p id="notice"><%= notice %></p>

<h1>Delivery Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_drivers.each do |delivery_driver| %>
      <tr>
        <td><%= delivery_driver.name %></td>
        <td><%= link_to 'Show', delivery_driver %></td>
        <td><%= link_to 'Edit', edit_delivery_driver_path(delivery_driver) %></td>
        <td><%= link_to 'Destroy', delivery_driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Driver', new_delivery_driver_path %>
