<% case params[:partial] %>
<% when 'change_filter_column' %>
  <%= render 'layouts/filter_option' %>
<% when 'change_product_batch_number' %>
  <%= @sfo_number %>
<% when 'add_item' %>
  <tr id=trid"<%= params[:c] %>" valign=top>
    <td width=22px class='counter uk-text-right'><%= params[:c] %></td>
    <td>
      <% if params[:kind].present? %>
        <%= hidden_field_tag "new_record_item[][#{params[:kind]}_batch_number_id]", nil, :class=>"#{params[:kind]}_batch_number_id#{params[:c]} uk-input uk-form-width-medium uk-form-small", :prompt=>"--select--"%>
        <%= render 'layouts/form_item', c: params[:c], field_name: "inventory_#{params[:kind]}_batch_number_id", field_value: "" %>
      <% end %>
    </td>
    <td>
      <%= text_field_tag 'part_id',nil, {:class=>"part_id#{params[:c]} uk-input uk-form-small", :disabled=> true, :style=> "width:80px;"} %>
    </td>
    <td>
      <%= hidden_field_tag "new_record_item[][#{params[:kind]}_id]",nil, {:class=>"#{params[:kind]}_id#{params[:c]} uk-input uk-form-width-small uk-form-small uk-text-right"} %> 
      <%= text_field_tag 'part_name',nil, {:class=>"part_name#{params[:c]} uk-input uk-form-width-medium uk-form-small", :disabled=> true} %>
    </td>
    <% case params[:kind] %>
    <% when 'product' %>
      <td>
        <%= text_field_tag 'part_type',nil, {:class=>"part_type#{params[:c]} uk-input uk-form-small", :disabled=> true, :style=> "width:80px;"} %>
      </td>
    <% end %>
    <td>
      <%= text_field_tag 'unit_name',nil, {:class=>"unit_name#{params[:c]} uk-input uk-form-small uk-text-center", :disabled=> true, :style=> "width:50px;"} %>
    </td>
    <td>
      <%= text_field_tag 'current_stock',nil, {:class=>"current_stock#{params[:c]} uk-input uk-form-small uk-text-center", :disabled=> true, :style=> "min-width: 80px;"} %>
    </td>

    <td>
      <%= number_field_tag 'new_record_item[][quantity]',nil, {:placeholder=> 'quantity', :class=>"uk-input uk-form-width-small uk-form-small uk-text-right", :required=> true} %>
    </td>
    <td>
      <%= text_field_tag 'new_record_item[][remarks]',nil, {:placeholder=> 'remarks', :class=>"uk-input uk-form-small"} %>
    </td>
    <td align='center' width=30px>
      <%= link_to "", 'javascript:;', {:onclick=>'$(this).parent().parent().remove();', :class=>"uk-icon-link", :'data-uk-icon'=>"icon: trash"} %>
    </td>
  </tr>
<% when 'change_kind' %>    
  <table class="uk-table uk-table-small uk-table-bordered uk-table-hover uk-table-divider" id="item">
    <tr>
      <th>#</th>
      <th>Batch Number</th>
      <th><%= params[:select_kind] %> Code</th>
      <th><%= params[:select_kind] %> Name</th>
      <% if params[:select_kind] == 'product' %>
        <th>Product Type</th>
      <% end %>
      <th>Unit</th>
      <th>Current Stock</th>
      <th title="Nilai Negatif untuk mengurangi stock">Quantity</th>
      <th>Remarks</th>
      <th>Remove</th>
    </tr>
  </table>
<% else %>
  <div class="uk-overflow-auto" id="index_content">
    <% case params[:view_kind] %>
    <% when 'item' %>
      <table class="uk-table uk-table-small uk-table-bordered uk-table-hover uk-table-divider">                 
        <thead class="bg-primary">
          <tr>
            <th>#</th>
            <th>Status</th>
            <th>Number</th>
            <th>Batch Number</th>
            <th>Product Code</th>
            <th>Product Number</th>
            <th>Quantity</th>
            <th>Remarks Item</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @c = (@c.present? ? @c : 0) %>   
          <% @inventory_adjustments.each do |item| %>
            <tr uk-tooltip="title: <%= row_tooltip(item) %>; pos: top-left">
              <td><%= @c+=1 %></td>
              <td><%= item.inventory_adjustment.status %></td>
              <td><%= item.inventory_adjustment.number %></td>
              <td><%= item.product_batch_number.number if item.product_batch_number.present? %></td>
              <td><%= item.product.part_id %></td>
              <td><%= item.product.name %></td>
              <td class="uk-text-right">
                <%= number_with_precision(item.quantity, precision: 0, delimiter: ".", separator: ",") %>
              </td>
              <td><%= item.remarks %></td>
              <td><%= link_to 'Show', item.inventory_adjustment %></td>
            </tr>
          <% end %>
        </tbody>
      </table><%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.present? %>
    <% else %>
      <table class="uk-table uk-table-small uk-table-bordered uk-table-hover uk-table-divider">                 
        <thead class="bg-primary">
          <tr>
            <th>#</th>
            <th>Status</th>
            <th>Number</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @c = (@c.present? ? @c : 0) %>   
          <% @inventory_adjustments.each do |inventory_adjustment| %>
            <tr>
              <td><%= @c+=1 %></td>
              <td><%= inventory_adjustment.status %></td>
              <td><%= inventory_adjustment.number %></td>
              <td><%= inventory_adjustment.date %></td>
              <td class="uk-width-auto"><%= link_to 'Show', inventory_adjustment_path(:id=> inventory_adjustment.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table><%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.present? %>
    <% end %>
  </div>
<% end %>