<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>New: <%= feature("name").humanize %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', inventory_adjustments_path(:q=> params[:q], :q1=> params[:q1], :q2=> params[:q2]), class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <script type="text/javascript">

            <% if flash[:error].present? %>
              UIkit.notification({
                message: '<%= flash[:error] %>', status: 'warning', pos: 'bottom-right', timeout: 10000
              });
            <% end %>
            
          </script>

          <%= render 'form', inventory_adjustment: @inventory_adjustment, form_kind: 'import'  %>
          <%= render 'upload', inventory_adjustment: @inventory_adjustment %>
        </div>
      </div>
    </div>
  </div>
</div>