
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>Show: <%= feature("name") %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', payment_request_suppliers_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">            
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Suppliers</div>
                      <div class="uk-width-3-4@m">
                        <%= text_field_tag :supplier_name, @payment_request_supplier.supplier.name, :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Number</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :number, @payment_request_supplier.number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Pay.Method</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :payment_methode, @payment_request_supplier.supplier_payment_method.name, :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Bank Transfer</div>
                      <div class="uk-width-3-4@m">
                        <%= text_field_tag :bank_transfer, (@payment_request_supplier.bank_transfer.name if @payment_request_supplier.bank_transfer.present?), :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Currency</div>
                      <div class="uk-width-1-4@m select_currencies">
                        <%= text_field_tag :currency, @payment_request_supplier.currency.name, :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Payment Date</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :date, @payment_request_supplier.date, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m" title="Nomor Giro/ Cek">Pay.Number</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :payment_methode_number, @payment_request_supplier.payment_methode_number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                  </div>
                </div>

                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Sub Total</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :subtotal, @payment_request_supplier.subtotal, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">PPN Total</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :ppntotal, @payment_request_supplier.ppntotal, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">PPH Total</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :pphtotal, @payment_request_supplier.pphtotal, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Down Payment</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :dptotal, @payment_request_supplier.dptotal, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-4@m">Remarks</div>
                      <div class="uk-width-3-4@m">
                        <%= text_field_tag :remarks, @payment_request_supplier.remarks, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                  </div>
                </div>
                <div class="uk-width-1-3@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-3@m">Grand Total</div>
                      <div class="uk-width-2-3@m">
                        <%= text_field_tag :grandtotal, @payment_request_supplier.grandtotal, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="uk-margin-small">
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">                  
                  <table class="uk-table uk-table-small uk-table-bordered uk-table-striped uk-table-hover uk-table-divider" id="item">
                    <tr>
                      <th>#</th>
                      <th>Invoice Number</th>
                      <th>Invoice Date</th>
                      <th>Subtotal</th>
                      <th>Tax Rate</th>
                      <th colspan="2">PPN Total</th>
                      <th>PPH Total</th>
                      <th>DP Total</th>
                      <th>Grand Total</th>
                      <th>Attachments</th>
                    </tr>
                    <% c=0 %>
                    <% if @payment_request_supplier_items.present? %>
                      <% @payment_request_supplier_items.each do |item| %>
                        <tr>
                          <td class="counter">
                            <%= c+=1%>
                          </td>
                          <td><%= item.invoice_supplier.number %></td>
                          <td><%= item.invoice_supplier.date %></td>
                          <td class="uk-text-right"><%= number_with_precision(item.invoice_supplier.subtotal, precision: 0, delimiter: ".", separator: ",") %></td>
                          <td class="uk-text-right"><%= item.tax_rate.present? ? "Rp. #{number_with_precision(item.tax_rate.currency_value, precision: 0, delimiter: ".", separator: ",")}" : "-" %></td>
                          <td class="uk-text-right"><%= item.tax_rate.present? ? "IDR" : @payment_request_supplier.currency.name %></td>
                          <td class="uk-text-right"><%= number_with_precision((item.tax_rate.present? ? (item.invoice_supplier.ppntotal*item.tax_rate.currency_value) : item.invoice_supplier.ppntotal), precision: 0, delimiter: ".", separator: ",") %></td>
                          <td class="uk-text-right"><%= number_with_precision(item.invoice_supplier.pphtotal, precision: 0, delimiter: ".", separator: ",") %></td>
                          <td class="uk-text-right"><%= number_with_precision(item.invoice_supplier.dptotal, precision: 0, delimiter: ".", separator: ",") %></td>
                          <td class="uk-text-right"><%= number_with_precision(item.invoice_supplier.grandtotal, precision: 0, delimiter: ".", separator: ",") %></td>
                          <td>
                            <% item.invoice_supplier.invoice_supplier_files.each do |file| %>
                              <% case file.ext.downcase %>
                              <% when '.pdf' %>
                                <a target="_blank" href="/<%= file.path.gsub("public/", "") %>">View PDF</a>
                              <% else %>
                                <a target="_blank" href="/<%= file.path.gsub("public/", "") %>"><img src="/<%= file.path.gsub("public/", "") %>" ext="img" class="show_files" style="max-height: 50px"/></a>
                              <% end %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <% else %>
                      <tr>
                        <td colspan="10">Tidak ada Data!</td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
  
            <hr>

            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-grid">
                    <div class="uk-width-3-4@m uk-margin-remove">
                      <%= form_tooltip(@payment_request_supplier) %>
                    </div>
                  </div>
                  <hr>
                  <div class="uk-grid">
                    <div class="uk-width-3-4@m">
                      <% if @payment_request_supplier.status == 'new' or @payment_request_supplier.status == 'canceled1' %>
                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 1</button>
                        <% end %>
                      <% elsif @payment_request_supplier.status == 'approved1' or @payment_request_supplier.status == 'canceled2' %>
                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'cancel_approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 1</button>
                        <% end %>
                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 2</button>
                        <% end %> 
                      <% elsif @payment_request_supplier.status == 'approved2' or @payment_request_supplier.status == 'canceled3' %>   
                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'cancel_approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 2</button>
                        <% end %>

                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 3</button>
                        <% end %>                
                      <% else %>
                        <%= link_to approve_payment_request_supplier_path(@payment_request_supplier, :status=> 'cancel_approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 3</button>
                        <% end %>
                      <% end %>
                      
                      <% if @payment_request_supplier.currency.name != 'IDR' %>
                        <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "dpp"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">DPP</button>
                        <% end %>
                        <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "ppn"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">PPN</button>
                        <% end %>
                      <% else %>
                        <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "print"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>
                      <% end %>
                        <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "vpr_inv"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">VPR-Invoice</button>
                        <% end %>
                      <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "vpr_po"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                        <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">VPR-PO</button>
                      <% end %>
                      <%= link_to print_payment_request_supplier_path(@payment_request_supplier, :print_kind=> "vpr_rcv"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                        <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">VPR-GRN</button>
                      <% end %>

                      <% if @payment_request_supplier.status != 'approved3' %>
                        <%= link_to 'Delete', @payment_request_supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "uk-button uk-button-danger uk-button-small" %>
                      <% end %>

                    </div>
                    <div class="uk-width-1-4@m">
                      <%= link_to 'Back', payment_request_suppliers_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <%= link_to 'Edit', edit_payment_request_supplier_path(@payment_request_supplier), class: "uk-button uk-button-primary uk-button-small uk-align-right" if @payment_request_supplier.status != 'approved3' %>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>