
<%= form_with(model: template_bank, local: true, class: "uk-form-horizontal") do |form| %>

  <% if template_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template_bank.errors.count, "error") %> prohibited this template_bank from being saved:</h2>

      <ul>
      <% template_bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">Judul</div>
            <div class="uk-width-2-3@m">
              <%= form.text_field :number, id: :template_bank_number, :class=> "uk-input uk-form-width-medium uk-form-small" %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">Total Amount</div>
            <div class="uk-width-2-3@m">
              <%#= form.text_field :grand_total, id: :template_bank_grand_total, :class=> "uk-input uk-form-width-medium uk-form-small" %>
              <%= text_field_tag "grand_total",(form.object.present? ? number_with_precision(form.object.grand_total, precision: 2, delimiter: ".", separator: ",") : nil), :class=> "uk-input uk-form-width-medium uk-form-small", :readonly=> true, :required=>true, :step=>'any' %>
              <%= form.hidden_field "grand_total", id: :template_bank_grand_total, :class=> "uk-input uk-form-width-medium uk-form-small", :readonly=> true, :required=>false, :step=>'any' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">Nomor Rekening</div>
            <div class="uk-width-2-3@m">
              <%= hidden_field_tag "template_bank[list_internal_bank_account_id]", template_bank.list_internal_bank_account_id, :class=>"list_internal_bank_account_id" %>
              <%= render 'layouts/form_item', c: 0, field_name: "list_internal_bank_account_id", field_value: "#{template_bank.list_internal_bank_account.number_account if template_bank.list_internal_bank_account.present?}" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">Tgl.Transfer</div>
            <div class="uk-width-2-3@m">
              <%= form.date_field :date, id: :template_bank_date, :class=> "uk-input uk-form-width-medium uk-form-small" %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">Nomor Voucher Payment</div>
            <div class="uk-width-2-3@m">
              <a class='uk-button uk-button-primary uk-button-small' href='#vp-sections' uk-toggle>Select</a>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
      </div>
    </div>
  </div>

  <hr class="uk-margin-small">

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-1@m">
        <table class="uk-table uk-table-small uk-table-hover uk-table-divider" id="item">
          <tr>
            <th>#</th>
            <th>No.Voucher Payment</th>
            <th>Nama Supplier</th>
            <th>Nama Rekening</th>
            <th>Nama Bank</th>
            <th>Nomor Rekening</th>
            <th>Amount</th>
            <th>By Transfer</th>
            <th>Status</th>
          </tr>
          <% c=0 %>
          <% @template_bank_items.each do |item| %>
            <tr>
              <td><%= c+=1 %>
                <%= hidden_field_tag "template_bank_item[][id]", item.id %>
                <%#= hidden_field_tag "template_bank_item[][supplier_bank_id]", item.supplier_bank_id %>
                <%= hidden_field_tag "template_bank_item[][supplier_bank_id]", (item.supplier_bank_id if item.class.table_name == "payment_suppliers") %>
                <%= hidden_field_tag "template_bank_item[][voucher_payment_id]", (item.voucher_payment_id if item.class.table_name == "voucher_payments") %>
              </td>
              <td>
                <%= item.payment_supplier.number if item.payment_supplier.present? %>
                <%= item.voucher_payment.number if item.voucher_payment.present? %>
              </td>
              <td>
                <%= item.payment_supplier.supplier.name if item.payment_supplier.present? and item.payment_supplier.supplier.present? %>
                <%= item.voucher_payment.list_external_bank_account.name_account if item.voucher_payment.present? %>
              </td>
              <td>
                <%= item.supplier_bank.account_holder if item.supplier_bank.present? %>
                <%= item.voucher_payment.list_external_bank_account.name_account if item.voucher_payment.present? and item.voucher_payment.list_external_bank_account.present? %>
              </td>
              <td>
                <%= item.supplier_bank.name if item.supplier_bank.present? %>
                <%= item.voucher_payment.list_external_bank_account.dom_bank.bank_name if item.voucher_payment.present? and item.voucher_payment.list_external_bank_account.present? %>
              </td>
              <td>
                <%= item.supplier_bank.account_number if item.supplier_bank.present? %>
                <%= item.voucher_payment.list_external_bank_account.number_account if item.voucher_payment.present? and item.voucher_payment.list_external_bank_account.present? %>
              </td>
              <td>
                <%= number_with_precision((item.payment_supplier.grandtotal if item.payment_supplier.present?), precision: 2, delimiter: ".", separator: ",") %>
                <%= number_with_precision((item.voucher_payment.grand_total if item.voucher_payment.present?), precision: 2, delimiter: ".", separator: ",") %>
              </td>
              <td><%= select_tag "template_bank_item[][by_transfer]", options_for_select([["BEN"],["OUR"]], item.by_transfer), {:include_blank=>'-- Pilih --', :class=> 'uk-select uk-form-width-small uk-form-small by_transfer', :required=>true}%></td>
              <td><%= select_tag "template_bank_item[][status]", options_for_select([["Active","active"],["Delete","deleted"]], item.status), {:include_blank=>'-- Pilih --', :class=> 'uk-select uk-form-width-small uk-form-small status', :required=>true}%></td>
            </tr>
          <% end if @template_bank_items.present? %>
          
        </table>
      </div>
    </div>
  </div>

  <div id="vp-sections" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h4 class="uk-modal-title">Voucher Payments</h4>
      </div>
      <div class="uk-modal-body">           
          
        <table class="uk-table uk-table-small uk-table-hover uk-table-bordered uk-table-divider" id="select_pv">          
          <tr>
            <th>#</th>
            <th>Checked</th>
            <th>No.Voucher Payment</th>
            <th>Nama Supplier</th>
            <th>Nama Rekening</th>
            <th>Nama Bank</th>
            <th>Nomor Rekening</th>
            <th>Amount</th>
          </tr><%c=0 %>
          <% @vp_check_updated.each do |vp| %>
            <tr>
              <td><%= c+=1 %></td>
              <td>
                <!-- 20220315 - Danny -->
                <% case vp.class.table_name %>
                <% when 'payment_suppliers' %>
                  <% supplier_banks = vp.supplier.supplier_banks if vp.supplier.present? %>
                  <% value_check = params[:value] %>
                  <% grand_total = vp.grandtotal %>
                  <% supplier_name = vp.supplier.name if vp.supplier.present? %>
                  <% supplier_bank_account_name = supplier_banks.first.account_holder if supplier_banks.present? %>
                  <% supplier_bank_name = supplier_banks.first.name if supplier_banks.present? %>
                  <% supplier_bank_number = supplier_banks.first.account_number if supplier_banks.present? %>
                  <% ck = vp.id %>
                <% when 'voucher_payments' %>
                  <% value_check = params[:value2] %>
                  <% grand_total = vp.grand_total %>
                  <% supplier_name = vp.list_external_bank_account.name_account %>
                  <% supplier_bank_account_name = vp.list_external_bank_account.name_account %>
                  <% supplier_bank_name = vp.list_external_bank_account.dom_bank.bank_name %>
                  <% supplier_bank_number = vp.list_external_bank_account.number_account %>
                  <% ck = vp.id %>
                <% end %>
                <input class="uk-checkbox select_payment_supplier_id" type="checkbox" checked table_name="<%= vp.class.table_name%>" val="<%= vp.id %>" c="<%= c %>"></td>
              <td><%= vp.number %></td>
              <td>
                <%= supplier_name %>
              </td>
              <td>
                <%= supplier_bank_account_name %>
              </td>
              <td>
                <%= supplier_bank_name %>
              </td>
              <td>
                <%= supplier_bank_number %>
              </td>
              <td>
                <%= number_with_precision(grand_total, precision: 2, delimiter: ".", separator: ",") %>
              </td>
            </tr>
          <% end if @vp_check_updated.present? %>

          <% @vp_uncheck_updated.each do |vp| %>
            <tr>
              <td><%= c+=1 %></td>
              <td>
                <% case vp.class.table_name %>
                <% when 'payment_suppliers' %>
                  <% supplier_banks = vp.supplier.supplier_banks if vp.supplier.present? %>
                  <% value_check = params[:value] %>
                  <% grand_total = vp.grandtotal %>
                  <% supplier_name = vp.supplier.name if vp.supplier.present? %>
                  <% supplier_bank_account_name = supplier_banks.first.account_holder if supplier_banks.present? %>
                  <% supplier_bank_name = supplier_banks.first.name if supplier_banks.present? %>
                  <% supplier_bank_number = supplier_banks.first.account_number if supplier_banks.present? %>
                <% when 'voucher_payments' %>
                  <% value_check = params[:value2] %>
                  <% grand_total = vp.grand_total %>
                  <% supplier_name = vp.list_external_bank_account.name_account %>
                  <% supplier_bank_account_name = vp.list_external_bank_account.name_account %>
                  <% supplier_bank_name = vp.list_external_bank_account.dom_bank.bank_name %>
                  <% supplier_bank_number = vp.list_external_bank_account.number_account %>
                <% end %>
                <input class="uk-checkbox select_payment_supplier_id" type="checkbox" table_name="<%= vp.class.table_name%>" val="<%= vp.id %>" c="<%= c %>"></td>
              <td><%= vp.number %></td>
              <td>
                <%= supplier_name %>
              </td>
              <td>
                <%= supplier_bank_account_name %>
              </td>
              <td>
                <%= supplier_bank_name %>
              </td>
              <td>
                <%= supplier_bank_number %>
              </td>
              <td>
                <%= number_with_precision(grand_total, precision: 2, delimiter: ".", separator: ",") %>
              </td>
            </tr>
          <% end if @vp_uncheck_updated.present? %>
        </table>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <a class="uk-button uk-button-default uk-modal-close uk-button-small">Cancel</a>
        <%= link_to 'Load', 'javascript:;', class: "uk-button uk-button-primary uk-button-small",
                      :onclick=> "load_payment_supplier_id(this, '"+params[:controller].to_s+"');" %>
      </div>
    </div>
  </div>

  <hr>
  <p uk-margin>
    <%= link_to 'Back', template_banks_path, class: "uk-button uk-button-secondary uk-button-small" %>
    <%= form.submit "Save", class: "uk-button uk-button-primary uk-button-small" , data: { disable_with: "Please wait..." }%>
  </p>

<% end %>
