

<%= form_with(model: employee_internship, local: true, class: "uk-form-horizontal") do |form| %>
  <% if employee_internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_internship.errors.count, "error") %> prohibited this employee_internship from being saved:</h2>

      <ul>
      <% employee_internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Name</div>
      <div class="uk-width-2-3@m">     
        <%= form.text_field :name, id: :employee_internship_name, :class=> "uk-input uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Position</div>
      <div class="uk-width-1-3@m">
        <%= form.collection_select :position_id, @position,:id,:name, {}, include_blank: true, class: "uk-input uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Date of Birth</div>
      <div class="uk-width-1-3@m"> 
        <%= form.text_field :born_place, id: :employee_internship_born_place, :class=> "uk-input uk-form-width-large uk-form-small" %>
      </div>
      <div class="uk-width-1-3@m"> 
        <%= form.date_field :born_date, id: :employee_internship_born_date, :class=> "uk-input uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Gender</div>
      <div class="uk-width-1-4@m">
        <%= form.select :gender, ["Laki Laki","Perempuan",""], {}, :class=> "uk-select uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Last Education</div>
      <div class="uk-width-1-4@m"> 
        <%= form.select :last_education, ['SD','SLTP','SMU','SMK','D1','D2','D3','S1','S2','S3',''], {}, :class=> "uk-select uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Phone Number</div>
      <div class="uk-width-1-4@m"> 
        <%= form.text_field :phone_number, id: :employee_internship_phone_number, :class=> "uk-input uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Address</div>
      <div class="uk-width-2-3@m"> 
        <%= form.text_area :address, id: :employee_internship_address, :class=> "uk-textarea uk-form-width-large uk-form-small", :rows=> 5 %>
      </div>
    </div>
  </div>


  <hr>
  <p uk-margin>
    <%= link_to 'Back', employee_internships_path, class: "uk-button uk-button-secondary uk-button-small" %>
    <%= form.submit "Save", class: "uk-button uk-button-primary uk-button-small" %>
  </p>

<% end %>