
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    
    <!-- panel -->
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4><%= feature("name") %></h4></div>
          </div>
          <hr class="uk-grid uk-grid-small">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto uk-margin-small">
              <%= link_to 'ADD', new_payment_supplier_path, class: "uk-button uk-button-primary uk-button-small" %>
            </div>
            <div class="uk-width-auto">
              <a class="uk-button uk-button-default uk-button-small" href="#modal-sections" uk-toggle>Filter</a>
            </div>
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto">
                <%= date_field_tag 'date_begin', session[:date_begin], class: "uk-input uk-form-small" %>
              </div>
              <div class="uk-width-auto">
                <%= date_field_tag 'date_end', session[:date_end], class: "uk-input uk-form-small" %>
              </div>
              <div class="uk-width-auto">
                <%= link_to 'javascript:;', class: "uk-button uk-button-primary uk-button-small",
                :onclick=> "search_by_date(this, '"+params[:controller].to_s+"')" do  %>
                  <span data-uk-icon="icon: search"></span>
                <% end %>
              </div>
            </div>

            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to 'Export', export_payment_suppliers_path(), class: "uk-button uk-button-primary uk-button-small" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="uk-overflow-auto" id="index_content">
            <%= render 'partial' %>
          </div>
        </div>
      </div>
    </div>
    <!-- /panel -->
    <%= render 'layouts/filter' %>

  </div>
  
</div>


