
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>Show: <%= feature("name") %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', proof_cash_expenditures_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">
            
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-2@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-6@m">No. BPK</div>
                    <div class="uk-width-1-3@m">       
                      <%= text_field_tag :number, @proof_cash_expenditure.number, :class=> "uk-input uk-form-small", :disabled=> true %>
                    </div>
                    <div class="uk-width-1-6@m">Tanggal</div>
                    <div class="uk-width-1-3@m">      
                      <%= text_field_tag :date, @proof_cash_expenditure.date, :class=> "uk-input uk-form-small", :disabled=> true %>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-2@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-6@m">Grand Total</div>
                    <div class="uk-width-1-3@m">       
                      <%= text_field_tag :grand_total, number_with_precision(@proof_cash_expenditure.grand_total, precision: 2, delimiter: ".", separator: ","), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-2@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-6@m">Department</div>
                    <div class="uk-width-1-3@m">       
                      <%= text_field_tag :department, (@proof_cash_expenditure.department.name if @proof_cash_expenditure.department.present?), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                    </div>
                    <div class="uk-width-1-6@m">No. Voucher</div>
                    <div class="uk-width-1-3@m">
                      <%= text_field_tag :voucher_payment, @proof_cash_expenditure.voucher_payment, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-2@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-6@m">Remarks</div>
                    <div class="uk-width-1-2@m">       
                      <%= text_area_tag :remarks, @proof_cash_expenditure.remarks, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>


            <hr class="uk-margin-small">
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-bordered" id="item">
                    <thead> 
                      <tr>
                        <th class="uk-text-middle">No.</th>  
                        <th class="uk-text-middle">Action</th>  
                        <th class="uk-text-middle uk-text-center">Jenis Biaya/Nama COA</th>
                        <th class="uk-text-middle uk-text-center">No. COA</th>
                        <th class="uk-text-middle uk-text-center">Keterangan</th>
                        <th class="uk-text-middle uk-text-center">Nominal</th>
                      </tr>
                    </thead>
                    <tbody class="tbody_item">
                    <% case params[:action] %>
                    <% when 'show' %>
                      <% c=0 %>
                      <% show = [] %>
                      <% @proof_cash_expenditure_items.each do |item| %>
                        <tr trid='<%= item.id %>'>
                          <%= hidden_field_tag 'record_item[][id]', item.id %>
                          <td><%= c+=1 %></td>
                          <% if show.include?(item.bon_count) == false %>
                            <td rowspan="<%= item.bon_length %>">
                              <% item.image.each do |record_file| %>
                                <% if record_file["status"]=="active" and record_file["bon_count"] == item.bon_count %>
                                  <%= hidden_field_tag 'record_file[][id]', record_file["id"] %>
                                    <a target="_blank" href="/<%= record_file["path"].gsub("public/", "") %>" class="uk-button uk-button-primary uk-button-small">View File</a>
                                <% end %>
                              <% end if item.image.present? %>
                              <% show << item.bon_count %>
                            </td>
                          <% end %>
                          <td><%= text_field_tag 'record_item[][type_cost]', item.type_cost, {:class=>"uk-input uk-form-small", :disabled=>true} %></td>
                          <td><%= text_field_tag 'record_item[][no_coa]', item.no_coa, {:class=>"uk-input uk-form-small", :disabled=>true} %></td>
                          <td><%= text_field_tag 'record_item[][remarks]', item.remarks, {:class=>"uk-input uk-form-small", :disabled=>true} %></td>
                          <td><%= text_field_tag 'record_item[][nominal]', number_with_precision(item.nominal, precision: 2, delimiter: ".", separator: ","), {:class=>"uk-input uk-form-small", :disabled=>true} %></td>
                        </tr>
                      <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <hr>

            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-2@m">
                      <% if @proof_cash_expenditure.status == 'new' or @proof_cash_expenditure.status == 'canceled1' %>
                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 1</button>
                        <% end %>
                      <% elsif @proof_cash_expenditure.status == 'approved1' or @proof_cash_expenditure.status == 'canceled2' %>
                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'cancel_approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 1</button>
                        <% end %>
                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 2</button>
                        <% end %> 
                      <% elsif @proof_cash_expenditure.status == 'approved2' or @proof_cash_expenditure.status == 'canceled3' %>   
                        <%= link_to print_proof_cash_expenditure_path(@proof_cash_expenditure, :print_kind=> "print"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>

                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'cancel_approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 2</button>
                        <% end %>
                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 3</button>
                        <% end %>                
                      <% elsif @proof_cash_expenditure.status == 'void' %>
                        Status: Void 
                      <% else %>
                        <%= link_to print_proof_cash_expenditure_path(@proof_cash_expenditure, :print_kind=> "print"), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>
                        
                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'cancel_approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 3</button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="uk-width-1-2@m">
                      <% case @proof_cash_expenditure.status %>
                      <% when 'void' %>
                        <%= link_to 'Back', proof_cash_expenditures_path, class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <% when 'approved3' %>

                        <%= link_to 'Back', proof_cash_expenditures_path, class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <% else %>
                        <%= link_to 'Back', proof_cash_expenditures_path, class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                        <%= link_to 'Edit', edit_proof_cash_expenditure_path(@proof_cash_expenditure), class: "uk-button uk-button-primary uk-button-small uk-align-right" %>

                        <%= link_to approve_proof_cash_expenditure_path(@proof_cash_expenditure, :status=> 'void'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be void. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Void</button>
                        <% end if @proof_cash_expenditure.status != 'void' %>  
                      <% end %>    
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
