<% case params[:partial] %>
<% when 'change_filter_column' %>
  <%= render 'layouts/filter_option' %>
<% when "add_item" %>
  <tr id=trid"<%= params[:c] %>" valign=top>
    <td width=22px class='counter uk-text-right'><%= params[:c] %></td>
    <td>
      <%= hidden_field_tag "new_record_item[][material_id]", nil, :class=>"material_id#{params[:c]} uk-input uk-form-width-medium uk-form-small", :prompt=>"--select--"%>
      <%= render 'layouts/form_item', c: params[:c], field_name: "material_id", field_value: "" %>
    </td>
    <td>
      <%= text_field_tag 'part_id',nil, {:class=>"part_id#{params[:c]} uk-input uk-form-small", :disabled=> true} %>
    </td>
    <td>
      <%= text_field_tag 'unit_name',nil, {:class=>"unit_name#{params[:c]} uk-input uk-form-small uk-text-center", :disabled=> true, :style=> "width:50px;"} %>
    </td>

    <td>
      <%= number_field_tag 'new_record_item[][quantity]',nil, {:placeholder=> 'quantity', :class=>"quantity#{params[:c]} uk-input uk-form-width-small uk-form-small uk-text-right", :required=> true} %>
    </td>
    <td>
      <%= text_field_tag 'new_record_item[][remarks]',nil, {:placeholder=> 'remarks', :class=>"uk-input uk-form-small"} %>
    </td>
    <td align='center' width=30px>
      <%= link_to "", 'javascript:;', {:onclick=>'$(this).parent().parent().remove();', :class=>"uk-icon-link", :'data-uk-icon'=>"icon: trash"} %>
    </td>
  </tr>
<% else %>
  <% case params[:view_kind] %>
  <% when 'item' %>
    <div class="uk-overflow-auto" id="index_content">
      <table class="uk-table uk-table-small uk-table-hover uk-table-divider">                 
        <thead class="bg-primary">
          <tr>
            <th>#</th>
            <th>Status</th>
            <th>Date</th>
            <th>Number</th>
            <th>Material Code</th>
            <th>Material Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Outstanding</th>
            <th>Remarks Item</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <% c=0 %>
          <% @pdms.each do |item| %>
            <% part = item.material %>
            <tr uk-tooltip="title: <%= row_tooltip(item) %>; pos: top-left">
              <td><%= c+=1 %></td>
              <td><%= item.pdm.status %></td>
              <td><%= item.pdm.date %></td>
              <td><%= item.pdm.number %></td>
              <td><%= part.part_id %></td>
              <td><%= part.name %></td>
              <td><%= part.unit_name %></td>
              <td class="uk-text-right"><%= number_with_precision(item.quantity, precision: 0, delimiter: ".", separator: ",") %></td>
              <td class="uk-text-right"><%= number_with_precision(item.outstanding, precision: 0, delimiter: ".", separator: ",") %></td>
              <td><%= item.remarks %></td>
              <td><%= link_to 'Show', item.pdm %></td>
              <td><%= link_to 'Edit', edit_pdm_path(item.pdm)%></td>
            </tr>
          <% end %>
        </tbody>
      </table><%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.present? %>
    </div>
  <% else %>
    <div class="uk-overflow-auto" id="index_content">
      <table class="uk-table uk-table-small uk-table-hover uk-table-divider">                 
        <thead class="bg-primary">
          <tr>
            <th>#</th>
            <th>Status</th>
            <th>Number</th>
            <th>Date</th>
            <th>Remarks</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <% c=0 %>
          <% @pdms.each do |pdm| %>
            <tr uk-tooltip="title: <%= row_tooltip(pdm) %>; pos: top-left">
              <td><%= c+=1 %></td>
              <td><%= pdm.status %></td>
              <td><%= pdm.number %></td>
              <td><%= pdm.date %></td>
              <td><%= pdm.remarks %></td>
              <td><%= link_to 'Show', pdm %></td>
              <td><%= link_to 'Edit', edit_pdm_path(pdm)%></td>
            </tr>
          <% end %>
        </tbody>
      </table><%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.present? %>
    </div>
  <% end %>
<% end %>