
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>Show: <%= feature("name") %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', pdms_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-2-3@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-5@m">Number</div>
                    <div class="uk-width-1-4@m">
                      <%= text_field_tag :number, @pdm.number, :class=> "uk-input uk-form-small", :disabled=> true %>
                    </div>
                    <div class="uk-width-1-5@m">Date</div>
                    <div class="uk-width-1-4@m">
                      <%= date_field_tag :date, @pdm.date, :class=> "uk-input uk-form-small", :disabled=> true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="uk-margin-small">
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1 uk-overflow-auto">
                  <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-bordered" id="item">                 
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Material Name</th>
                        <th>Material Code</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Remarks</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>            
                      <% c=0 %>
                      <% if @pdm_items.present? %>
                        <% @pdm_items.each do |pdm_item| %>
                          <% part = pdm_item.material %>
                          <tr>
                            <td class="counter">
                              <%= c+=1%>
                            </td>
                            <td class="uk-width-medium">
                              <%= (part.name if part.present?) %>
                            </td>
                            <td class="uk-width-small">
                              <%= (part.part_id if part.present?) %>
                            </td>
                            <td class="uk-width-small uk-text-center">
                              <%= (part.unit_name if part.present?) %>
                            </td>
                            <td class="uk-width-small uk-text-right">
                              <%= number_with_precision(pdm_item.quantity, precision: 2, delimiter: ".", separator: ",") %>
                            </td>
                            <td >
                              <%= pdm_item.remarks %>
                            </td>
                            <td>
                              <div class="uk-padding-small">
                                <a class="uk-button uk-button-default uk-button-small" href="#modal-sections<%= pdm_item.id %>" uk-toggle>PO</a>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="10">Tidak ada Data!</td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
            <hr>

            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-2@m">
                      <% if @pdm.status == 'new' or @pdm.status == 'canceled1' %>
                        <%= link_to approve_pdm_path(@pdm, :status=> 'approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 1</button>
                        <% end %>
                      <% elsif @pdm.status == 'approved1' or @pdm.status == 'canceled2' %>
                        <%= link_to approve_pdm_path(@pdm, :status=> 'cancel_approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled1. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 1</button>
                        <% end %>
                        <%= link_to approve_pdm_path(@pdm, :status=> 'approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 2</button>
                        <% end %> 
                      <% elsif @pdm.status == 'approved2' or @pdm.status == 'canceled3' %>   
                        <%= link_to approve_pdm_path(@pdm, :status=> 'cancel_approve2'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled2. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 2</button>
                        <% end %>
                        <%= link_to approve_pdm_path(@pdm, :status=> 'approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be approved3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 3</button>
                        <% end %>                
                      <% else %>
                        <%= link_to approve_pdm_path(@pdm, :status=> 'cancel_approve3'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled3. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 3</button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="uk-width-1-2@m">
                      <% case @pdm.status %>
                      <% when 'approved3' %>
                        <%= link_to print_pdm_path(@pdm), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>
                        <%= link_to 'Back', pdms_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <% else %>
                        <%= link_to 'Back', pdms_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                        <%= link_to 'Edit', edit_pdm_path(@pdm), class: "uk-button uk-button-primary uk-button-small uk-align-right" %>
                      <% end %>    
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <% @pdm_items.each do |pdm_item| %>
              <% last_pos = pdm_item.last_po(5) %>
              <div id="modal-sections<%= pdm_item.id %>" uk-modal>
                <div class="uk-modal-dialog">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <div class="uk-modal-header">
                    <h4 class="uk-modal-title">Last 5 PO Suppliers</h4>
                  </div>
                  <div class="uk-modal-body">
                    <div class="uk-margin-small">
                      <div class="uk-grid">
                        <div class="uk-width-1-1@m uk-overflow-auto">
                          <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-bordered">
                            <tr>
                              <th>No.</th>
                              <th>PO Number</th>
                              <th>PO Date</th>
                              <th>Quantity</th>
                              <th>Unit Price</th>
                              <th>Subtotal</th>
                            </tr>
                            <% grandtotal = c = 0 %>
                            <% last_pos.each do |last_po|%>
                              <% subtotal = (last_po[:quantity].to_f* last_po[:unit_price] ) %>
                              <% grandtotal += subtotal %>
                              <tr>
                                <td><%= c += 1 %></td>
                                <td>
                                  <%= link_to "#{last_po[:po_number]}", "/purchase_order_suppliers/#{last_po[:po_id]}?q=#{last_po[:po_kind]}" %>
                                </td>
                                <td><%= last_po[:po_date] %></td>
                                <td>
                                  <%= number_with_precision(last_po[:quantity].to_f, precision: 2, delimiter: ".", separator: ",") %>
                                </td>
                                <td>
                                  <%= number_with_precision(last_po[:unit_price].to_f, precision: 2, delimiter: ".", separator: ",") %>
                                </td>
                                <td>
                                  <%= number_with_precision(subtotal.to_f, precision: 2, delimiter: ".", separator: ",") %>
                                </td>
                              </tr>
                            <% end %>
                            <tr>
                              <td colspan="5" class="uk-text-right"><b>Total</b></td>
                              <td>
                                <b><%= number_with_precision(grandtotal.to_f, precision: 2, delimiter: ".", separator: ",") %></b>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="uk-modal-footer uk-text-right">
                    <a class="uk-button uk-button-default uk-modal-close uk-button-small">Cancel</a>
                  </div>
                </div>
              </div>
            <% end if @pdm_items.present? %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>