
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto" title="<%= feature("description") %>"><h4>Show: <%= feature("name").humanize %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', outgoing_inspections_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">
            
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-2@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Customer</div>
                      <div class="uk-width-1-3@m">
                        <%= text_field_tag :customer, @outgoing_inspection.customer.name, :class=> "uk-select uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                      <div class="uk-width-1-6@m">Inspection Date</div>
                      <div class="uk-width-1-3@m">
                        <%= date_field_tag :date, @outgoing_inspection.date, :class=> "uk-input uk-form-width-medium uk-form-small", :disabled=> true  %>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-2@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Doc. Number</div>
                      <div class="uk-width-1-3@m">
                        <%= text_field_tag :number, @outgoing_inspection.number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                      <div class="uk-width-1-6@m">Delivery Date</div>
                      <div class="uk-width-1-3@m">
                        <%= date_field_tag :delivery_date, @outgoing_inspection.delivery_date, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-2@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Remarks</div>
                      <div class="uk-width-expand@m">
                        <%= text_field_tag :remarks, @outgoing_inspection.remarks, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=>true %>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="uk-margin-small">
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-2@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Picking Slip No</div>
                      <div class="uk-width-1-3@m">
                        <%= text_field_tag :picking_slip_id, (@outgoing_inspection.picking_slip.number if @outgoing_inspection.picking_slip.present?), :class=> "uk-input uk-form-width-large uk-form-small", :disabled=>true%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <hr>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-bordered" id="item">
                    <tr>
                      <th rowspan="2" class="uk-text-middle">No</th>
                      <th colspan="3" class="uk-text-center">Product</th>
                      <th rowspan="2" class="uk-text-middle">Batch Number</th>
                      <th rowspan="2" class="uk-text-middle">Qty</th>
                      <th rowspan="2" class="uk-text-middle">Expired Date</th>
                      <th rowspan="2" class="uk-text-middle">Physical Condition</th>
                    </tr>
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Type</th>
                    </tr>
                    <% c=0 %>
                    <% @outgoing_inspection_items.each do |outgoing_inspection_item| %>
                      <tr>
                        <td><%= c+= 1%></td>
                        <td><%= outgoing_inspection_item.product_batch_number.number if outgoing_inspection_item.product_batch_number.present? %></td>
                        <td><%= outgoing_inspection_item.inspection_name %></td>
                        <td><%= outgoing_inspection_item.inspection_type %></td>
                        <td><%= outgoing_inspection_item.inspection_batch %></td>
                        <td><%= outgoing_inspection_item.inspection_qty %></td>
                        <td><%= outgoing_inspection_item.inspection_expired %></td>
                        <td><%= outgoing_inspection_item.inspection_physical %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Conclusion</div>
                      <div class="uk-width-1-3@m">
                        <%= text_field_tag :conclusion, @outgoing_inspection.conclusion, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-margin-small">
                    <div class="uk-grid">
                      <div class="uk-width-1-6@m">Reason for Hold / Notes</div>
                      <div class="uk-width-1-2@m">
                        <%= text_area_tag :reason_hold, @outgoing_inspection.reason_hold, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="uk-margin-small">
              <div class="uk-grid">
                <div class="uk-width-1-1@m">
                  <div class="uk-grid">
                    <div class="uk-width-1-2@m">
                      <% if @outgoing_inspection.status == 'new' or @outgoing_inspection.status == 'canceled1' %>
                        <%= link_to approve_outgoing_inspection_path(@outgoing_inspection, :status=> 'approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-secondary uk-button-small">Approve 1</button>
                        <% end %>
                      <% elsif @outgoing_inspection.status == 'approved1' %>
                        <%= link_to approve_outgoing_inspection_path(@outgoing_inspection, :status=> 'cancel_approve1'), method: :put, data: { disable_with: "Please wait...", confirm: 'This will be canceled. Proced?' } do %>
                          <button type="button" class="uk-button uk-button-danger uk-button-small">Cancel 1</button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="uk-width-1-2@m">
                      <% case @outgoing_inspection.status %>
                      <% when 'approved1' %>
                        <%= link_to print_outgoing_inspection_path(@outgoing_inspection), method: :put, data: { disable_with: "Please wait..."}, target: :_blank do %>
                          <button type="button" class="uk-button uk-button-primary uk-button-small uk-align-right">Print</button>
                        <% end %>
                        <%= link_to 'Back', outgoing_inspections_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                      <% else %>
                        <%= link_to 'Back', outgoing_inspections_path(), class: "uk-button uk-button-secondary uk-button-small uk-align-right" %>
                        <%= link_to 'Edit', edit_outgoing_inspection_path(@outgoing_inspection, :job => 'edit'), class: "uk-button uk-button-primary uk-button-small uk-align-right" %>
                      <% end %>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
