
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-1@m">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>Show <%= params[:controller].humanize %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', employee_contracts_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <form class="uk-form-horizontal">            
					  
					  <div class="uk-grid uk-margin-small">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">No.Kontrak</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :number, @employee_contract.number, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true%>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="uk-grid uk-margin-small">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Nama</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :employee_name, @employee_contract.employee.name, class: "uk-select uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="uk-grid uk-margin-small employee_detail">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Department</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :department_name, @employee_contract.department.name, class: "uk-select uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Position</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :position_name, @employee_contract.position.name, class: "uk-select uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-3@m">Jenis Kontrak</div>
					        <div class="uk-width-2-3@m">
					          <%= text_field_tag :work_status_name, @employee_contract.work_status.name, class: "uk-select uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					  </div>

					  <div class="uk-grid uk-margin-small">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Tgl Awal</div>
					        <div class="uk-width-3-4@m">
					          <%= date_field_tag :begin_of_contract, @employee_contract.begin_of_contract, :class=> "uk-input uk-form-width-medium uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Tgl Akhir</div>
					        <div class="uk-width-3-4@m">
					          <%= date_field_tag :end_of_contract, @employee_contract.end_of_contract, :class=> "uk-input uk-form-width-medium uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					  </div>

					  <div class="uk-grid uk-margin-small">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Basic Salary</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :basic_salary, @employee_contract.basic_salary, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="uk-grid uk-margin-small">
					    <div class="uk-width-1-3@m">
					      <div class="uk-grid uk-margin-small">
					        <div class="uk-width-1-4@m">Uang Makan</div>
					        <div class="uk-width-3-4@m">
					          <%= text_field_tag :meal_and_transport_cost, @employee_contract.meal_and_transport_cost, :class=> "uk-input uk-form-width-large uk-form-small", :disabled=> true %>
					        </div>
					      </div>
					    </div>
					  </div>
					  <div class="uk-grid uk-margin-small">
              <div class="uk-width-1-3@m">
                <div class="uk-grid uk-margin-small">
                  <div class="uk-width-1-4@m">HRD</div>
                  <div class="uk-width-3-4@m">
                    <%= text_field_tag "hrd_name", "#{@employee_contract.hrd_name}", :class=> "uk-input uk-form-width-medium uk-form-small", :disabled=> true  %>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="uk-grid uk-margin-small">
              <div class="uk-width-1-3@m">
                <b><h5>Print Control</h5></b>
              </div>
            </div>
            <div class="uk-grid uk-margin-small">
              <div class="uk-width-1-5@m div_work_time">
                <div class="uk-grid uk-margin-small">
                  <div class="uk-width-2-5@m">Work Time</div>
                  <div class="uk-width-3-5@m">
                    
                    <%= select_tag "work_time", options_for_select([["Non Shift","non_shift"],["Shift","shift"]]), :class=> "uk-select uk-form-small", :onchange=>"change_print_contract(this,#{@employee_contract.id})"%>
                  </div>
                </div>
              </div>
              <div class="uk-width-1-5@m div_salary">
                <div class="uk-grid uk-margin-small">
                  <div class="uk-width-1-5@m">Salary</div>
                  <div class="uk-width-4-5@m">
                    
                    <%= select_tag "salary", options_for_select([["Tidak Dilampirkan","exclude"],["Dilampirkan","include"]]), :class=> "uk-select uk-form-small", :onchange=>"change_print_contract(this,#{@employee_contract.id})"%>
                  </div>
                </div>
              </div>
            </div>


            <hr>
            <p uk-margin>
              <%= link_to 'Back', employee_contracts_path, class: "uk-button uk-button-secondary uk-button-small" %>
              <%= link_to 'Edit', edit_employee_contract_path(@employee_contract), class: "uk-button uk-button-primary uk-button-small" %>
              <%= link_to 'print', "/employee_contracts/#{@employee_contract.id}.pdf?work_time=non_shift&salary=exclude", class: "uk-button uk-button-secondary uk-button-small button_print_contract", :target=>"_blank" %>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
