
<%= form_with(model: pdf_coordinate, local: true, class: "uk-form-horizontal") do |form| %>

  <% if pdf_coordinate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pdf_coordinate.errors.count, "error") %> prohibited this pdf_coordinate from being saved:</h2>

      <ul>
      <% pdf_coordinate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Name</div>
      <div class="uk-width-3-4@m">
        <%= form.text_field :filename, id: :pdf_coordinate_filename, :class=> "uk-input uk-form-width-large uk-form-small" %>
      </div>
    </div>
  </div>
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-4@m">Page size</div>
      <div class="uk-width-3-4@m">
        <%= form.select :paper_size_id, options_for_select(@paper_sizes.map{|c| [c.name, c.id, {:'width_pts'=> c.width, :'height_pts'=> c.width} ]}, form.object.paper_size_id), {}, {class: "uk-select uk-form-width-small uk-form-small", data: {"live-search": true}} %>
      </div>
    </div>
  </div>

   <%= render 'partial' %>
  <hr>
  <p uk-margin>
    <%= link_to 'Back', pdf_coordinates_path, class: "uk-button uk-button-secondary uk-button-small" %>
    <%= form.submit "Save", class: "uk-button uk-button-primary uk-button-small" %>
  </p>

<% end %>
