
<div class="uk-container uk-container-expand">        
  <div class="uk-grid uk-grid-medium  " data-uk-grid>
    <div class="uk-width-1-2@l">
      <div class="uk-card uk-card-default uk-card-small uk-card-hover">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto"><h4>Show <%= params[:controller].humanize %></h4></div>
            <div class="uk-width-expand uk-text-right panel-icons">
              <%= link_to '', job_list_reports_path, class: "uk-icon-link", :title=>"Close", :'data-uk-tooltip'=> '', :'data-uk-icon'=>"icon: close" %>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
					<form class="uk-form-horizontal">
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Category</label>
				    	<div class="uk-form-controls">
            		<%= text_field_tag :job_category, (@job_list_report.job_category.name if @job_list_report.job_category.present?), :class=> "uk-select uk-form-small", :disabled=> true %>
				   		</div>
					  </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Department</label>
				    	<div class="uk-form-controls">
            		<%= text_field_tag :department, (@job_list_report.department.name if @job_list_report.department.present?), :class=> "uk-select uk-form-small", :disabled=> true %>
				   		</div>
					  </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">User</label>
				    	<div class="uk-form-controls">
            		<%= text_field_tag :user, (@job_list_report.user.email if @job_list_report.user.present?), :class=> "uk-select uk-form-small", :disabled=> true %>
				   		</div>
					  </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Job Name</label>
				    	<div class="uk-form-controls">
		      			<%= text_field_tag :job_name, @job_list_report.name, :class=> "uk-input uk-form-small", :disabled=> true %>
				   		</div>
					  </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Description</label>
				    	<div class="uk-form-controls">
		      			<%= text_area_tag :description, @job_list_report.description, :class=> "uk-textarea uk-form-width-large uk-form-small", :disabled=> true, :rows=> 5 %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Time Required</label>
				    	<div class="uk-form-controls">
		      			<%= text_field_tag :time_required, @job_list_report.time_required, :class=> "uk-input uk-form-width-small uk-form-small", :disabled=> true %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Due Date</label>
				    	<div class="uk-form-controls">
		      			<%= date_field_tag :due_date, @job_list_report.due_date, :class=> "uk-input uk-form-width-medium uk-form-small", :disabled=> true %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Description</label>
				    	<div class="uk-form-controls">
		      			<%= text_area_tag :note, @job_list_report.note, :class=> "uk-textarea uk-form-width-large uk-form-small", :disabled=> true, :rows=> 3 %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Link</label>
				    	<div class="uk-form-controls">
              	<%= link_to 'Meeting Minute', @job_list_report.meeting_minute_item.meeting_minute, class: "uk-button uk-button-secondary uk-button-small" if @job_list_report.meeting_minute_item.present? %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Status</label>
				    	<div class="uk-form-controls">
		      			<%= text_field_tag :status, @job_list_report.status, :class=> "uk-input uk-form-width-small uk-form-small", :disabled=> true %>
            	</div>
            </div>
					  <div class=" uk-margin-small">
					    <label class="uk-form-label uk-width-small" for="form-horizontal-text">Done</label>
				    	<div class="uk-form-controls">
			          <% if @job_list_report.checked == true %>
			            <div class="fa fa-check-square"></div>
			          <% else %>
			            -
			          <% end %>
            	</div>
            </div>
            <hr>
            <p uk-margin>
              <%= link_to 'Back', job_list_reports_path, class: "uk-button uk-button-secondary uk-button-small" %>
              <%= link_to 'Edit', edit_job_list_report_path(@job_list_report), class: "uk-button uk-button-primary uk-button-small" %>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

