
<%= form_with(model: purchase_order_supplier, local: true, class: "uk-form-horizontal", :multipart => true) do |form| %>
  <%= hidden_field_tag "q", params[:q] %>
  <%= form.hidden_field :id, id: :purchase_order_supplier_id, :class=> "uk-input uk-form-small", :readonly=> true %>

  <% if purchase_order_supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase_order_supplier.errors.count, "error") %> prohibited this purchase_order_supplier from being saved:</h2>

      <ul>
      <% purchase_order_supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Number</div>
            <div class="uk-width-2-3@m">
              <% case form_kind %>
              <% when 'edit' %>
                <%= text_field_tag "number", form.object.number, {:class=> "uk-input uk-form-small", :disabled=> true} %>
              <% else %>
                <%= form.text_field :number, id: :purchase_order_supplier_number, :class=> "uk-input uk-form-small", :readonly=> true, :placeholder=> "Auto Number" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Department</div>
            <div class="uk-width-2-3@m">
              <%= form.select :department_id, options_for_select(@departments.map{|c| [c.name, c.id ]}, form.object.department_id), {:prompt => " -- select -- "}, {class: "uk-select uk-form-small",
                      :onchange=> "change_department(this, '"+params[:controller].to_s+"');"} if @departments.present? %>
            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Suppliers</div>
            <div class="uk-width-3-4@m">

              <%= hidden_field_tag "purchase_order_supplier[supplier_id]", (form.object.supplier.present? ? form.object.supplier_id : ""), :class=>"supplier_id uk-input uk-form-small" %>
              <%= render 'layouts/form_item', c: nil, field_name: "supplier_id", field_value: (form.object.supplier.present? ? form.object.supplier.name : ""), kind: params[:q] %>

            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Due Date</div>
            <div class="uk-width-1-2@m">
              <%= form.date_field :due_date, id: :purchase_order_supplier_due_date, :value=> (form.object.due_date.present? ? form.object.due_date : nil), :class=> "uk-input uk-form-small", :onchange=> "$('.due_date_item').val($(this).val());" %>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Date</div>
            <div class="uk-width-1-2@m">
              <% case form_kind %>
              <% when 'edit' %>
                <%= date_field_tag "date", form.object.date, {:title=>"Tanggal tidak bisa diubah, karena mempengaruhi penomoran Dokumen", :class=> "uk-input uk-form-small", :disabled=> true} %>
              <% else %>
                <%= form.date_field :date, id: :purchase_order_supplier_date, :value=> (form.object.date.present? ? form.object.date : DateTime.now().strftime("%Y-%m-%d")), :class=> "uk-input uk-form-small" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Section</div>
            <div class="uk-width-2-3@m select_section">    
              <%= form.collection_select :employee_section_id, @sections,:id,:name, {:selected=> (form.object.employee_section_id.present? ? form.object.employee_section_id : current_user.employee_section_id) }, required: true, class: "uk-select uk-form-width-large uk-form-small" %>
            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">T.O.P</div>
            <div class="uk-width-3-4@m">
              <div class="uk-flex">
                <%= form.text_field :top_day, id: :purchase_order_supplier_top_day, :class=> "uk-input uk-form-small select_top_day uk-width-1-4" %>
                <div class="select_term_of_payments uk-width-3-4">
                  <%= form.select :term_of_payment_id, options_for_select(@term_of_payments.map{|c| [c.name, c.id ]}, form.object.term_of_payment_id), {:prompt => " -- select -- "}, {class: "uk-select uk-form-small"} if @term_of_payments.present? %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Attachments</div>
            <div class="uk-width-3-4@m">

              <table class="uk-table uk-table-striped">
                <tbody>
                  <% @record_files.each do |record_file| %>
                    <%= hidden_field_tag 'record_file[][id]', record_file.id %>
                    <% case record_file.ext.downcase %>
                    <% when '.png','.jpg','.jpeg','.jfif','.svg','.webp' %>
                      <tr>
                        <td><a target="_blank" href="/<%= record_file.path.gsub("public/", "") %>"><img src="/<%= record_file.path.gsub("public/", "") %>" ext="img" class="show_files" style="max-height: 100px"/></a></td>
                        <td>status: <%= select_tag "record_file[][status]", options_for_select(['active','deleted'], record_file.status) , { :class=>'uk-select uk-form-small uk-form-width-small'} %></td>
                      </tr>
                    <% else %>
                      <tr>
                        <td><a target="_blank" href="/<%= record_file.path.gsub("public/", "") %>">View PDF</a></td>
                        <td>status: <%= select_tag "record_file[][status]", options_for_select(['active','deleted'], record_file.status) , { :class=>'uk-select uk-form-small uk-form-width-small'} %></td>
                      </tr>
                    <% end %>
                  <% end if @record_files.present? %>
                  <tr>
                    <td><%= file_field_tag 'file[][attachment]', :class=>'btn btn-default btn-sm', :multiple=>true %></td>
                  </tr>
                </tbody> 
              </table>  
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-4@m">Currency</div>
            <div class="uk-width-1-4@m select_currencies">
              <%= form.select :currency_id, options_for_select(@currencies.map{|c| [c.name, c.id ]}, form.object.currency_id), {:include_blank => true}, {class: "uk-select uk-form-small"} if @currencies.present? %>
            </div>
          </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">

            <div class="uk-width-1-4@m">Tax</div>
            <div class="uk-width-1-2@m select_taxes">
              <%= form.select :tax_id, options_for_select(@taxes.map{|c| [c.name, c.id ]}, form.object.tax_id), {:prompt => " -- select -- "}, {class: "uk-select uk-form-small"} if @taxes.present? %>
            </div>
        </div>
        <div class="uk-margin-small">
          <div class="uk-grid">

            <div class="uk-width-1-4@m">Remarks</div>
            <div class="uk-width-3-4@m">
              <%= form.text_field :remarks, id: :purchase_order_supplier_remarks, :class=> "uk-input uk-form-width-medium uk-form-small" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="uk-margin-small">
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-2@m">
        <div class="uk-margin-small">
          <div class="uk-grid">
            <div class="uk-width-1-3@m">
              <% case params[:q] %>
              <% when 'material','virtual' %>
                <% if @purchase_order_supplier.present? and @purchase_order_supplier.pdm.present? and @purchase_order_supplier.purchase_request.blank? %>
                  <%= select_tag "po_base", options_for_select(['PDM'], params[:po_base]) , { :class=>'uk-select uk-form-small uk-form-width-small'} %>
                  <% po_base = 'PDM' %>
                <% elsif @purchase_order_supplier.present? and @purchase_order_supplier.pdm.blank? and @purchase_order_supplier.purchase_request.present? %>
                  <%= select_tag "po_base", options_for_select(['PRF'], params[:po_base]) , { :class=>'uk-select uk-form-small uk-form-width-small'} %>
                  <% po_base = 'PRF' %>
                <% else %>
                  <%= select_tag "po_base", options_for_select(['All','PRF','PDM'], params[:po_base]) , { :class=>'uk-select uk-form-small uk-form-width-small', :onchange=> "change_po_base(this, '"+params[:controller].to_s+"');"} %>
                  <% po_base = 'All' %>
                <% end %>
              <% else %>
                <%= select_tag "po_base", options_for_select(['PRF'], params[:po_base]) , { :class=>'uk-select uk-form-small uk-form-width-small'} %>
                <% po_base = 'PRF' %>
              <% end %>
            </div>
            <div class="uk-width-1-3@m select_purchase_requests">
              <% case po_base %>
              <% when 'PDM' %>
                <% if @pdms.present? %>
                  <%= form.select :pdm_id, options_for_select(@pdms.map{|c| [c.number, c.id, {:request_kind=> 'material'} ]}, form.object.pdm_id), {:prompt => " -- select -- "}, {class: "uk-select uk-form-width-large uk-form-small"} %>
                <% else %>
                  <%= text_field_tag "pdm_id", nil, {:placeholder=> "Not Found", :class=> "uk-input uk-form-small", :disabled=> true} %>  
                <% end %>
              <% when 'PRF' %>
                <% if @purchase_requests.present? %>
                  <%= form.select :purchase_request_id, options_for_select(@purchase_requests.map{|c| [c.number, c.id, {:request_kind=> c.request_kind} ]}, form.object.purchase_request_id), {:prompt => " -- select -- "}, {class: "uk-select uk-form-width-large uk-form-small"} %>
                <% else %>
                  <%= text_field_tag "purchase_request_id", nil, {:placeholder=> "Not Found", :class=> "uk-input uk-form-small", :disabled=> true} %>  
                <% end %>
              <% end %>
            </div>
            <div class="uk-width-1-3@m">
              <%= link_to 'Load', 'javascript:;', class: "uk-button uk-button-primary uk-button-small",
                      :onclick=> "change_purchase_request_id(this, '"+params[:controller].to_s+"');" %>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="uk-grid">
          <div class="uk-width-1-6@m">PRF Kind</div>
          <div class="uk-width-1-3@m">  
            <%= form.text_field :kind, id: :purchase_order_supplier_kind, :class=> "order_kind uk-input uk-form-width-medium uk-form-small", :readonly=> true %>
          </div>
          <div class="uk-width-1-6@m">Asset Kind</div>
          <div class="uk-width-1-3@m">  
            <%= form.select :asset_kind, options_for_select(['asset','non-asset'], form.object.asset_kind), {:prompt => " -- select -- "}, {class: "uk-select uk-form-width-large uk-form-small"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="uk-margin-small">
  <div class="uk-margin-small">
    <div class="uk-grid">
      <div class="uk-width-1-1@m">
        <table class="uk-table uk-table-small uk-table-bordered uk-table-hover uk-table-divider" id="item">                 
          <thead>
            <tr>
              <th>#</th>
              <th>Part Name</th>
              <th>Internal Part ID</th>
              <th>Model</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Due Date</th>
              <th>Remarks</th>
              <th>
                <%= select_tag "item_status", options_for_select(['active','deleted'], 'active') , { :class=>'uk-select uk-form-small uk-form-width-small', 
                  :onchange=> "$('.deleted_id').val($(this).val());
                  $('.quantity').removeAttr('max');"} %></th>
            </tr>
          </thead>
          <tbody>            
            <% c=0 %>
            <% if @purchase_order_supplier_items.present? %>
              <% @purchase_order_supplier_items.each do |purchase_order_supplier_item| %>
                <% part = nil %>
                <% max_quantity = 0 %>
                <% if purchase_order_supplier_item.purchase_request_item.present? %>
                  <% record_item = purchase_order_supplier_item.purchase_request_item %>
                  <% if record_item.present? %>
                    <% if record_item.product.present? %>
                      <% part = record_item.product %>
                    <% elsif record_item.material.present? %>
                      <% part = record_item.material %>
                    <% elsif record_item.consumable.present? %>
                      <% part = record_item.consumable %>
                    <% elsif record_item.equipment.present? %>
                      <% part = record_item.equipment %>
                    <% elsif record_item.general.present? %>
                      <% part = record_item.general %>
                    <% end %>
                    <% max_quantity = purchase_order_supplier_item.purchase_request_item.outstanding %>
                  <% end %>
                <% elsif purchase_order_supplier_item.pdm_item.present? %>
                  <% record_item = purchase_order_supplier_item.pdm_item %>
                  <% if record_item.present? %>
                    <% if record_item.material.present? %>
                      <% part = record_item.material %>
                    <% end %>
                    <% max_quantity = purchase_order_supplier_item.pdm_item.outstanding %>
                  <% end %>
                <% end %>

                <tr>
                  <td class="counter">
                    <%= c+=1%>
                    <%= hidden_field_tag 'record_item[][id]', purchase_order_supplier_item.id %>
                    <%= hidden_field_tag 'record_item[][pdm_item_id]', purchase_order_supplier_item.pdm_item_id %>
                    <%= hidden_field_tag 'record_item[][purchase_request_item_id]', purchase_order_supplier_item.purchase_request_item_id %>
                  </td>
                  <td class="uk-width-medium">
                    <%= text_field_tag 'part_name', (part.name if part.present?), {:class=>"uk-input uk-form-small", :disabled=> true} %>
                  </td>
                  <td class="uk-width-medium">
                    <%= text_field_tag 'part_id', (part.part_id if part.present?), {:class=>"uk-input uk-form-small", :disabled=> true} %>
                  </td>
                  <td class="uk-width-small">
                    <%= text_field_tag 'part_model', (part.part_model if part.present?), {:class=>"uk-input uk-form-small", :disabled=> true} %>
                  </td>
                  <td class="uk-width-small">
                    <%= text_field_tag 'unit_name', (part.unit.name if part.present? and part.unit.present?), {:class=>"uk-input uk-form-small uk-text-center", :disabled=> true} %>
                  </td>
                  <td class="uk-width-small">
                    <% case form.object.status %>
                    <% when 'new', 'canceled1' %>
                      <%= number_field_tag 'record_item[][quantity]', purchase_order_supplier_item.quantity, {:step=> "any", :min=> 0, :max=> max_quantity, :placeholder=> 'quantity', :class=>"uk-input uk-form-width-small uk-form-small uk-text-right quantity", :required=> true} %>
                    <% else %>
                      <%= hidden_field_tag 'record_item[][quantity]', purchase_order_supplier_item.quantity %>
                      <%= number_field_tag 'record_item_quantity', purchase_order_supplier_item.quantity, {:placeholder=> 'quantity', :class=>"uk-input uk-form-width-small uk-form-small uk-text-right quantity", :disabled=> true, :title=> "Cancel Approve 1 agar bisa ubah Quantity"} %>
                    <% end %>
                  </td>
                  <td class="uk-width-small">
                    <%= number_field_tag 'record_item[][unit_price]', purchase_order_supplier_item.unit_price, {:step=> "any", :placeholder=> 'Unit Price', :class=>"uk-input uk-form-width-small uk-form-small uk-text-right", :required=> true} %>
                  </td>
                  <td class="uk-width-medium">
                    <%= date_field_tag 'record_item[][due_date]', purchase_order_supplier_item.due_date, {:class=>"uk-input uk-form-small"} %>
                  </td>
                  <td class="uk-width-medium">
                    <%= text_field_tag 'record_item[][remarks]', purchase_order_supplier_item.remarks, {:class=>"uk-input uk-form-small"} %>
                  </td>
                  <td>
                    <%= select_tag "record_item[][status]", options_for_select(['active','deleted'], purchase_order_supplier_item.status) , { :class=>'deleted_id uk-select uk-form-small uk-form-width-small'} %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="10">Tidak ada Data!</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <p uk-margin>
    <%= link_to 'Back', purchase_order_suppliers_path(:q=> params[:q]), class: "uk-button uk-button-secondary uk-button-small" %>
    <%= form.submit "Save", class: "uk-button uk-button-primary uk-button-small" %>
  </p>

<% end %>
