<% case params[:partial] %>
<% when 'change_filter_column' %>
  <%= render 'layouts/filter_option' %>
<% else %>
  <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-bordered">
    <thead class="bg-primary">
      <tr>
        <th>No</th>
        <th>Nama Karyawan</th>
        <th>Cuti Terpakai</th>
        <th>Sisa Cuti</th>
        <th>Periode</th>
      </tr>
    </thead>
    <tbody>
      <% c=0 %>
      <% @employee_leaves.each do |employee_leave| %>
        <tr uk-tooltip="title: <%= row_tooltip(employee_leave) %>; pos: top-left">
          <td><%= c+=1 %></td>
          <td><%= employee_leave.employee.name %></td>
          <td><%= employee_leave.day %></td>
          <td><%= employee_leave.outstanding %></td>
          <td><%= employee_leave.period %></td>
        </tr>
      <% end %>
    </tbody>
  </table><%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} if @pagy.present? %>
<% end %>